html, body{
    background-color: #F4f5f7;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

* {
    box-sizing:border-box;
}

h2, p{
    color: #555;
}

tr, th, td {
    color: #555;
}

header{
    position: sticky;
    top: 0;
    /*背面を#fffにする*/
    background-color: none;
    overflow: hidden;
    /*内側の余白を10pxにする*/
    padding: 0px;
    text-align: left;
}

header li {
    text-align: center;
    top: 0;
    /*1行で表示する*/
    display: inline-block;
    /*右寄せにする*/
    float: right;
    /*文字サイズを20pxにする*/
    font-size: 18px;
    /*内側の余白を上下0,左右20pxにする*/
    padding: 0 20px;
}

.inner{
    font-size:18px;
}

.main-img{
    border-radius: 0px;
    padding: 0px;
}

.skills{
    background-color: #f4f5f7;
    padding: 0px;
}

.box{
    background: #f4f5f7;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15vw;
}

footer{
    bottom: 0;
    background-color: #f4f5f7;
    padding: 10px;
}

footer p{
    color: #333;
    font-size: 12px;
}

table.about{
    border-spacing: 10px;
}

#twitter, #facebook {
    /* スキル同士を横に並べる */
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 10%;
}

/* #pagejump_demo .scroll_button a{
    position: fixed;
    display: block;
    right:50px;
    bottom:50px;
    background: #313131;
    color:#fff;
    padding:20px;
}　*/

#page_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page_top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page_top a:hover {
    text-decoration: none;
    background: #999;
}

/* .creation {
    padding: 100px;
} */

#creation1, #creation2{
    padding: 30px 0px;
}

#chart {
    padding: 30px 0px;
}

.container {
    margin: 0 auto;
    padding: 40px;
    width: 35%;
    color: #333;
  }
  
  .slick-slide {
    text-align: center;
    background: white;
  }

.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	margin: 50vh auto 0;
	transform: translateY(-50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

.about {
    margin-left: auto;
    margin-right: auto;
}